.big {
  display: inline;
}

.inner {
  display: inline;
}

header > div {
  width: 967px;
  height: 300px;
}

#firstimg {
  width: 300px;
  height: 300px;
  /* float: left; */
}

#secimg {
  width: 300px;
  height: 300px;
}
